<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59887336692-i66540aloq7807nl2s734amtr1c4lrnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59887336692-i66540aloq7807nl2s734amtr1c4lrnl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>59887336692-27s531pulcu69g3vnjphpdqhgvu379ns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDYWm4r3kh3fnOJGT0guI8BfPBdmaY0OAo</string>
	<key>GCM_SENDER_ID</key>
	<string>59887336692</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netsofters.etaxicustomer</string>
	<key>PROJECT_ID</key>
	<string>e-taxi-649bb</string>
	<key>STORAGE_BUCKET</key>
	<string>e-taxi-649bb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59887336692:ios:d784ba0909c50f05ccf2a1</string>
</dict>
</plist>